.grid {
  background-image: url("../../../assets/tela-login.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}

@media screen and (max-width: 1400px) {
  .grid {
    background-position: top;
  }
}
